<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 justify-content-center">
                <ul class="navbar-nav mr-auto justify-content-center">
                    <li class="nav-item">
                        <form th:action="@{/facility}" class="form-inline" method="get">
                            <input class="form-control mr-sm-2" name="keyword" th:value="${keyword}" type="search" placeholder="시설 찾기"
                                   aria-label="Search"/>
                            <input id="asc-building" name="orderByBuilding" type="radio" value="asc" th:checked="${orderByBuilding=='asc'}">
                            <label for="asc-building">빌딩순</label>
                            <input id="desc-building" name="orderByBuilding" type="radio" value="desc" th:checked="${orderByBuilding=='desc'}">
                            <label for="desc-building">빌딩역순</label>

                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit">검색</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-5 text-center">
            <h2>모든 시설</h2>
        </div>
        <div class="row">
            <div class="col-md-4" th:each="facility: ${facilities.getContent()}">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title context" th:text="${facility.building}"></h5>
                        <span class="facility-id" th:text="${facility.id}" hidden></span>
                        <p class="card-text context">
                            <span>오픈시간: </span>
                            <span th:text="${facility.openTime}"></span>
                        </p>
                        <p class="card-text context">
                            <span>클로즈시간: </span>
                            <span th:text="${facility.closeTime}"></span>
                        </p>
                        <p class="card-text context">
                            <span>현재예약수: </span>
                            <span th:text="${facility.nowReserveCnt}"></span>
                        </p>
                        <p class="card-text context">
                            <span>예약가능여부: </span>
                            <span th:if="${facility.possibleReservation}">예약가능</span>
                            <span th:unless="${facility.possibleReservation}">예약불가능</span>
                        </p>
                        <p class="card-text context">
                            <label class="label">예약날짜: </label>
                            <input type="date" class="form-control selectDate">
                        </p>
                        <a th:href="@{'/facility/' + ${facility.id}}" class="text-decoration-none btn btn-outline-primary">
                            시설 상세
                        </a>
                        <button class="btn btn-primary btn-block user-reservation" type="button"
                                th:if="${account != null && account.userType == T(com.youwent.modules.account.UserType).USER}">시설 예약</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!facilities.hasPrevious()} ? disabled">
                            <a th:href="@{'/facility?keyword=' + ${keyword} + '&orderByBuilding=' + ${orderByBuilding} + '&page=' + ${facilities.getNumber() - 1}}" class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item" th:classappend="${index == facilities.getNumber()} ? active"
                            th:each="index: ${#numbers.sequence(0, facilities.getTotalPages() - 1)}">
                            <a th:href="@{'/facility?keyword=' + ${keyword} + '&orderByBuilding=' + ${orderByBuilding} + '&page=' + ${index}}" th:text="${index + 1}" class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!facilities.hasNext()} ? disabled">
                            <a th:href="@{'/facility?keyword=' + ${keyword} + '&orderByBuilding=' + ${orderByBuilding} + '&page=' + ${facilities.getNumber() + 1}}" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>


    <div th:replace="fragments :: footer"></div>
</body>
</html>

<script type="application/javascript">

    $(function () {
        $('.selectDate').val(moment().format('YYYY-MM-DD'));

        $('.user-reservation').on('click', function () {
            var pos = $(this);
            var date = pos.prev().prev().children().eq(1).val();
            var id = pos.parent().children().eq(1).text();

            $.ajax({
                url: '/facility/' + id + '/settings/reservation' + "?reservationDate=" + date,
                type: "GET",
                dataType: "json",
            }).done(function (data, status) {
                pos.parent().parent().remove();
                alert(data.statusCode + " "+ data.resultMsg);
            }).fail(function (data, status){
                alert(data.responseJSON.message);
            });
        });

    });
</script>