<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
    <div th:replace="fragments :: facility-nav"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>예약시설 상세</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card col-sm-10">
                <div class="card-body">
                    <h5 class="card-title context" th:text="${facility.building}"></h5>
                    <p class="card-text context">
                        <span>주소: </span>
                        <span th:text="${facility.address}"></span>
                    </p>
                    <p class="card-text context">
                        <span>오픈시간: </span>
                        <span th:text="${facility.openTime}"></span>
                    </p>
                    <p class="card-text context">
                        <span>클로즈시간: </span>
                        <span th:text="${facility.closeTime}"></span>
                    </p>
                    <p class="card-text context">
                        <span>현재예약수: </span>
                        <span th:text="${facility.nowReserveCnt}"></span>
                    </p>
                    <p class="card-text context">
                        <span>예약최대수: </span>
                        <span th:text="${facility.maxReserveCnt}"></span>
                    </p>
                    <p class="card-text context">
                        <span>예약가능여부: </span>
                        <span th:if="${facility.possibleReservation}">예약가능</span>
                        <span th:unless="${facility.possibleReservation}">예약불가능</span>
                    </p>
                    <a th:href="@{'/facility/' + ${facility.id} + '/settings/facility'}" class="text-decoration-none btn btn-outline-primary">
                        시설 수정
                    </a>
                    <button class="btn btn-outline-danger delete-facility" type="button">시설 삭제</button>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments :: footer"></div>
</body>
</html>